name: 'Docker Build'

on:
  push:
    branches: [ main ]


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Login to ECR
      uses: docker/login-action@v3
      with:
        registry: ${{ vars.ECR_URL }}
        username: ${{ secrets.AWS_ACCESS_KEY_ID }}
        password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      env:
        AWS_REGION: ${{ vars.AWS_REGION }}


    - name: Set up Docker BuildX
      uses: docker/setup-buildx-action@v3

    - name: build and push
      uses: docker/build-push-action@v6
      with:
        context: ./app
        push: true
        tags: ${{ vars.ECR_URL }}/pastebin:${{ github.sha }}