name: 'Terraform Apply'

on:
  workflow_run:
    workflows: ["Terraform Plan"]
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: checkout code
      uses: actions/checkout@v5   
      
    - name: Download plan
      uses: dawidd6/action-download-artifact@v11
      with:
        workflow: terraform_plan.yml
        name: tfplan-artifact
        path: ./terraform 

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v5.0.0
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      working-directory: ./terraform
      run: terraform init

    - name: Terraform apply
      working-directory: ./terraform
      run: terraform apply -auto-approve tfplan
    
    - run: ls -l ./terraform

      
    

