name: 'Terraform Plan'

on:
  workflow_run:
    workflows: ["Docker Build"]
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: checkout code
      uses: actions/checkout@v5

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v5.0.0
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      working-directory: ./terraform
      run: terraform init

    - name: Terraform Plan
      env:
        TF_VAR_image_tag: ${{ github.sha }} 
        TF_VAR_ecr_url:  ${{ vars.ECR_URL }}
        TF_VAR_ecr_repository: ${{ vars.ECR_REPOSITORY }}
        TF_VAR_domain_name: ${{ vars.DOMAIN_NAME }}
        TF_VAR_sub_domain_name: ${{ vars.SUB_DOMAIN_NAME }}
      working-directory: ./terraform
      run: terraform plan -out=tfplan
    
    - name: Upload plan
      uses: actions/upload-artifact@v4
      with:
        name: tfplan-artifact
        path: ./terraform/tfplan


      
    

