name: 'Terraform Destroy'

on: workflow_dispatch

permissions:
  id-token: write


jobs:
  destroy:
    runs-on: ubuntu-latest

    steps:
    - name: checkout code
      uses: actions/checkout@v5   
      
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v5.1.1
      with:
        aws-region: ${{ vars.AWS_REGION }}
        role-to-assume: ${{ secrets.AWS_OIDC_ROLE_ARN }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      working-directory: ./terraform
      run: terraform init

    - name: Terraform Destroy
      env:
        TF_VAR_image_tag: ${{ github.sha }} 
        TF_VAR_ecr_url:  ${{ vars.ECR_URL }}
        TF_VAR_ecr_repository: ${{ vars.ECR_REPOSITORY }}
        TF_VAR_domain_name: ${{ vars.DOMAIN_NAME }}
        TF_VAR_sub_domain_name: ${{ vars.SUB_DOMAIN_NAME }}
      working-directory: ./terraform
      run: terraform destroy -auto-approve