name: 'Terraform Apply'

on:
  workflow_run:
    workflows: ["Terraform Plan"]
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: checkout code
      uses: actions/checkout@v5   
      
    - name: Download plan
      uses: dawidd6/action-download-artifact@v11
      with:
        workflow: terraform-plan.yaml
        name: tfplan-artifact
        path: ./terraform 

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v5.1.1
      with:
        aws-region: ${{ vars.AWS_REGION }}
        role-to-assume: ${{ secrets.AWS_OIDC_ROLE_ARN }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      working-directory: ./terraform
      run: terraform init

    - name: Terraform apply
      working-directory: ./terraform
      run: terraform apply -auto-approve tfplan